
@{
    Layout = null;
}

<!-- About Section -->
<div id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 about-img"> </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1 about_text_section">
                <div class="about-text">
                    <div class="section-title">
                        <h2>HAQQIMIZDA</h2>
                    </div>
                    <p>
                        İnsanlar yaşayışının 80%-dən çox hissəsini evdə, işdə və nəqliyyatda keçirdiyi üçün onların
                        sağlamlığı, əhval - ruhiyyəsi, fizioloji və emosional vəziyyəti, həmçinin işləmə qabiliyyəti bina və
                        qurğuların otaqlarında istilik komfortunun yaradılmasından böyük həcmdə asılıdır.Bunu nəzərə
                        alaraq bina və qurğuların daxilində istilik komfortunun yaradılması üçün “Mikroklimat” MMC-nin
                        təsis edilməsini qarşımıza məqsəd qoyduq. Ən müasir isitmə, ventilyasiya və soyutma sistemlərini
                        tətbiq etməklə şirkətimiz müştərilərimiz üçün sağlam mikroiqlim yaratmağı özünə məqsəd qoyub.
                        Biz hər bir ölçüdə və hər təyinatlı inzibati və ictimai binalar, mənzillər, kotteclər, sənaye binaları
                        üçün ventilyasiya, soyutma, və isitmə sistemlərini quraşdırırıq. Sistemlərin quraşdırılması sahənin
                        hava mühitinə təsir edən bütün amillərin nəzərə alınması ilə aparılır. Keyfiyyət və sürət bizim əsas üstünlüklərimizdir. Bu üstünlükləri “Mikroklimat”
                        MMC şirkəti peşəkarlıq, müasir yaradıcı düşünmə tərzi, iradə və uğura inam hesabına əldə
                        etmişdir. Texniki təhlükəsizlik işimizin ayrılmaz prinsipi və rəhbər tutulan qaydalardan biridir.
                        Yalnız möhkəm bünövrə üzərində inşa edilmiş bina əsrlərlə xidmət edə bilər.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>
